<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
     
      <class name="tests.Product_Drop_Down_List_Test"/>
      
       <class name="NOP_Commerce_Automation.NOP_Commerce.AppTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
